[Unit]
Description=Amazon Kinesis Video Streams Edge Agent Demo Application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi 
ExecStart=/opt/kvs-edge-agent/run.sh
StandardOutput=append:/var/log/kvs-edge.log
StandardError=append:/var/log/kvs-edge.log
 
[Install]
WantedBy=multi-user.target
